.courses-view-cont {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto auto auto;
    justify-content: center;

}

.courses-course {
    width: 20%;
    margin: 5px;
    border: solid .1px;
    border-radius: 10px;
    text-decoration: none;
}

.form-search-course {
    width: 100%;
    margin-top: 20px;
}

.courses-img {
    margin-top: 5px;
    width: 40%;
}

.input-search-course {
    padding: 7px;
    border: solid .1px;
    border-radius: 3px;
    margin: 10px;
}



@media (max-width:768px) {
    .courses-course {
        width: 40%;
    }

    .courses-img {

        width: 50%;
    }
}