.courses-view-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 40px auto;
    justify-content: center;
}

.courses-course {
    width: 20%;
    margin: 5px;
    border: solid .1px;
    border-radius: 10px;
    text-decoration: none;
}

.form-search-course {
    width: 90%;
    margin:20px auto auto auto;
}

.courses-img {
    margin-top: 5px;
    width: 40%;
}

.input-search-course {
    padding: 7px;
    border: solid .1px;
    border-radius: 3px;
    margin: 10px auto 10px auto;
    width: 20em;
}



@media (max-width:820px) {
    .courses-course {
        width: 40%;
    }

    .courses-img {
        width: 50%;
    }
}