.container {
    margin-top: 100px;
}

.form-login {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.form-login-el {

    width: 100%;
    margin: 20px;

}

@media (max-width:768px) {

    .form-login {
        width: 80%;
    }
}