.profile {
    margin-top: 60px;
}

.user-data-cont {
    width: 60%;
    margin: auto;
}

.user-data-img {
    width: 20%;

}



.profile input {
    border: solid .1px;
    padding: 4px;
    margin: 5px;
}