.routes {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.to-route {
    text-decoration: none;
    display: inline;
    width: 33%;
}


.route-cont {


    background-size: 100%;
    background: fixed;
    margin: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 10px;


}

.logo-route {
    width: 20%;
    height: 50%;
    margin-left: 5px;

}



.name-route {
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-left: 10px;
}


@media (max-width:820px) {
    .to-route {
        text-decoration: none;
        display: inline;
        width: 100%;
    }

}