.course-view-cont {
    margin-top: 50px;
}

.course-view-container {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 500px;

}

.logo-view-course {
    width: 7%;
}

.course-presentation {
    margin: 20px;
    display: flex;
    align-items: center;
}

.course-player {
    width: 65%;
    height: 70vh;

}


.comentaries {
    width: 30%;
}

.coment-course-submit {
    border: solid rgb(0, 7, 29);
    color: #fff;
    background-color: rgb(0, 26, 51);
    border-radius: 10px;
    padding: 2px;
    margin: 10px;

}

.mg-em {
    margin-left: 1em;
}

@media (max-width:768px) {

    .course-player {
        width: 100%;
        height: 30vh;
        margin-bottom: 270px;

    }



    .comentaries {
        width: 100%;
        padding: 0;
    }

    .logo-view-course {
        width: 10%;
    }
}